.env
__pycache__/test.cpython-39.pyc
images/robots/*.png
research/__pycache__/*.pyc
__pycache__/test.cpython-310.pyc
report_generator/__pycache__/report_generator.cpython-310.pyc
report_generator/input/*
report_generator/output/*
